body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header Section */

.pege-header {
  border-bottom: 1px solid #e7e9fc;
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-contacts:hover,
.address-contacts:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Section Hero*/

.section-hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  display: block;
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-mainpage {
  display: block;
  border: none;
  margin: 0 auto;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  height: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.button-mainpage:hover,
.button-mainpage:focus {
  background: #404bbf;
}

/* Advantages Section */

.advantages-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.tilte-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-section-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.005em;
  color: #434455;
}

/* Our Team Section */

.our-team {
  padding: 120px 0;
  background: #f4f4fd;
}

.tilte-ourteam {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  height: auto;
  margin: 0 auto;
  margin-bottom: 72px;
}

.cards-item {
  border-radius: 0 0 4px 4px;
  width: calc((100%-72px) / 4);
  height: auto;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.cards-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.subtitle-position {
  padding: 32px 0;
}

.ourteam-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 8px;
}

.ourteam-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 auto;
}

/* Our Portfolio Section */

.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fff;
}

.main-title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
  width: 100%;
  height: auto;
}

.card-item {
  width: calc((100% - 48px) / 3);
}

.title-list {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-tiltle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer Section */

.page-footer {
  padding: 100px 0;
  background: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
